<!DOCTYPE html>
<html>
<head>
   <% if (title) { %>
      <title><%= title %></title
    <%  } else { %>
      <title><title="GUI botpres-ledger"></title>
  <%}%>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://bundle.localtunnel.me/static/bundle.js"></script>
</head>
<body>
  <h1>Daehli Nadeau-Otis</h1>
  <div id="content"></div>
  <script>
  window.extAsyncInit = function() {
    MessengerExtensions.getUserID(function success(uids) {
  	// User ID was successfully obtained.
      	var psid = uids.psid;
        console.log(psid)

    }, function error(err, errorMessage) {
  	// Error handling code
    });
  };
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
  </script>
</body>
</html>
